<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32487584001-3ukhcnseghdlnftu9ivrmila8t87mq5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32487584001-3ukhcnseghdlnftu9ivrmila8t87mq5k</string>
	<key>API_KEY</key>
	<string>AIzaSyBQrXHTjSxy3y0CD2eYXpUmgKPdf2qJidw</string>
	<key>GCM_SENDER_ID</key>
	<string>32487584001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterkage2k.firebase06092121</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-b501f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-b501f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32487584001:ios:0e7d62fbc033fe470f2b00</string>
</dict>
</plist>